* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

canvas {
    border: 1px solid black;
    height: 100%;
    object-fit: contain;
    image-rendering: crisp-edges;
    image-rendering: pixelated;
}

.container{
    margin-left: auto;
    margin-right: auto;
}

.container-navbar ol{
    display: flex;
}

li {
    flex: auto;
}


.outer {
  border: 2px solid #666666;
  position: relative;
  overflow: hidden;
}
.inner {
  position: absolute;
  left: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}
.inner::-webkit-scrollbar {
  display: none;
}
.inner {
  -ms-overflow-style: none; 
  overflow: -moz-scrollbars-none; 
}